%h4
  %ul
    %li
      = link_to t('.new_users'), admin_users_path
      = new_users_count
    %li
      = link_to t('.checkins'), admin_checkins_path
      = all_checkins_count
    %li
      = link_to t('.events'), admin_events_path
      = all_events_count
    %li
      = link_to t('.places'), admin_places_path
      = all_places_count
    %li
      = link_to t('.members'), admin_members_path
      = all_members_count
    %li
      = link_to t('.programs'), admin_programs_path
      = all_programs_count
