= simple_form_for @admin, html: { class: 'form-horizontal' } do |f|
  - f.with_options input_html: { class: :span6 } do |f|
    - if @user.member
      = f.label @user.member.decorate.fio
      = f.label @user.member.post
      = @user.member.number
    - else
      = f.label @user.email
  .form-actions
    = f.button :submit, t('save'), class: 'btn btn-primary'
    = link_to t('cancel', default: t("helpers.links.cancel")), admins_path, class: 'btn'
