= simple_form_for @program, url: { controller: "admin/programs", action: action }, html: { class: 'form-horizontal' } do |f|
  .field
    = f.input :name
    = f.input :lider_id
    = f.input :description
    - if @program and @program.logo
      = image_tag @program.logo.thumb, class: 'img-polaroid'
      %b
        = t '.choose_new_logo'
      %br
      = f.file_field :logo, class: 'btn'

  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), admin_programs_path, class: 'btn'
