- if @place.errors.any?
  #error_explanation
    = "#{ pluralize(@place.errors.count, "error") } #{ t('.prohibited_this_place_from_being_saved') }:"
    %ul
    - @place.errors.full_messages.each do |msg|
      %li= msg
= simple_form_for @place, url: { controller: "admin/places", action: action } do |f|
  - f.with_options input_html: { class: :span6 } do |f|
    .field
      = f.input :title, as: :string
      = f.input :description
  .form-actions
    = f.button :submit, t('save'), class: 'btn btn-primary'
    = link_to t('cancel', default: t("helpers.links.cancel")), admin_places_path, class: 'btn'
