= stylesheet_link_tag :welcome
.span12
  - @events.each do |event|
    .row-fluid
      .span3
        %a{ href: event_path(event) }
          = image_tag event.program.logo, class: 'big_logo'
      .span8
        .row-fluid
          %a{ href: event_path(event) }
            %h1
              = event.title
        .row-fluid
          = event.description
        .row-fluid
          - event.decorate.people.each do |member|
            .span1
              %a{ href: member_path(member) }
                = image_tag member.decorate.present_photo_thumb, class: 'img-rounded'
    %hr
