= stylesheet_link_tag "events"
%h1
  = @event.title
%h3
  %a{ href: place_path(@event.place) }
    = @event.place.title
%hr
  = @event.description
- unless current_member_checkined? @event
  %a.btn{ href: new_checkin_path(@event) } Зачекиниться здесь
%hr
= t('.checkined_here')
%br
- @event.checkins.shuffle!.each do |checkin|
  %a{ href: member_path(checkin.member) }
    .mini-thumb
      = image_tag checkin.member.photo.thumb, class: 'img-rounded'
