.row-fluid
  .span4
    %h1
      = @event.title
  .span4
    %h3
      %a{ href: place_path(@event.place) }
        = @event.place.title
  .span2
    .row
      %a{ href: ticket_path(@event.member) }
        = t('.responsible')
        .mini-thumb
          = image_tag @event.member.decorate.present_photo.thumb, class: 'img-rounded'
%hr
.row-fluid
  = @event.description
- unless current_member_checkined? @event
  %a.btn{ href: new_checkin_path(@event) } Зачекиниться здесь
%hr
.row-fluid
= t('.checkined_here')
%br
%br
- @event.checkins.shuffle!.each do |checkin|
  %a{ href: ticket_path(checkin.member) }
    .mini-thumb
      = image_tag checkin.member.decorate.present_photo.thumb, class: 'img-rounded'
