= stylesheet_link_tag :events

.event
  .event__event_header_layout
    .event__event_title
      = @event.title
    - if confirmed_member_signed_in?
      - unless current_user_checkined? @event
        .event__checkin_button
          = link_to t('helpers.check_in'), new_checkin_path(@event), class: :btn
      - else
        .event__you_are_checked_in
          = t('helpers.you_are_checked_in')
        .event__delete_check_in
          = link_to t('.remove_check_in'), checkin_path(current_user_decorate.checkin_on(@event)), method: :delete
  .event__event_data_layout
    .event__place_title
      = "#{t('.place')}:"
      %a{ href: place_path(@event.place) }
        = @event.place.title
      = ";"
    .event__member_fio
      = "#{t('.responsible')}:"
      %a{ href: member_path(@event.member) }
        = "#{@event.member.decorate.fio};"
    .event__event_date
      = "#{t('.date')}:"
      = @event.date
  .event__event_description
    = image_tag @event.photo.big_thumb
    = @event.description
  .event__checkined_users
    .event__checkined_users_title
      = t('.were_here')
      = checkins_count(@event)
    .event__checkined_users_list
      - @event.checkins.shuffle!.each do |checkin|
        %a{ href: member_path(checkin.member) }
          = image_tag checkin.member.decorate.present_photo_mini_thumb
