.row-fluid
  .span4
    %h1
      = @event.title
  .span4
    %h3
      %a{ href: place_path(@event.place) }
        = @event.place.title
  .span2
    .row
      %a{ href: member_path(@event.member) }
        = t('.responsible')
        .mini-thumb
          = image_tag @event.member.decorate.present_photo_thumb, class: 'img-rounded'
%hr
.row-fluid
  = @event.description
%hr
- if confirmed_member_signed_in?
  - unless current_user_checkined? @event
    %a.btn{ href: new_checkin_path(@event) } Зачекиниться здесь
- else
  %span.label.label-important
    = t('your_account_must_be_confirmed_by_admins')
%hr
.row-fluid
= t('.checkined_here')
%br
%br
- @event.checkins.shuffle!.each do |checkin|
  %a{ href: member_path(checkin.member) }
    .mini-thumb
      = image_tag checkin.member.decorate.present_photo_thumb, class: 'img-rounded'
