= simple_form_for @user, url: { controller: 'admin/users', action: action }, html: { class: 'form-horizontal' } do |f|
  = f.input :email
  = f.input :password, as: :hidden, value: @user.password
  = f.input :confirm_state, as: :select, collection: User.state_machines[:confirm_state].states
  = f.input :role
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), admin_users_path, class: 'btn'
