- model_class = User
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:password)
      %th= model_class.human_attribute_name(:confirm_state)
      %th= model_class.human_attribute_name(:role)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.id, edit_admin_user_path(user)
        %td= link_to user.email, edit_admin_user_path(user)
        %td= user.password
        %td= user.confirm_state
        %td= user.role
        %td=l user.created_at
        %td
          = link_to t('.edit', default: t("helpers.links.edit")), edit_admin_user_path(user), class: 'btn btn-mini'
          - if user.new?
            = link_to t('.accept', default: t("helpers.links.accept")), accept_admin_user_path(user), method: :put, class: 'btn btn-mini btn-success'
          - if user.busted?
            = link_to t('.retrieve', default: t("helpers.links.retrieve")), retrieve_admin_user_path(user), method: :put, class: 'btn btn-mini btn-success'
          - unless user.busted?
            = link_to t('.bust', default: t("helpers.links.bust")), bust_admin_user_path(user), method: :put, class: 'btn btn-mini btn-danger'

= link_to t('.new', default: t("helpers.links.new")), new_admin_user_path, class: 'btn btn-primary'
