= simple_form_for @checkin, html: { class: 'form-horizontal' } do |f|
  .field
    = f.label :description, class: :span6
    = f.text_field :description, class: :span6
    = f.input :status
  .form-actions
    = f.submit t('helpers.check_in'), class: :btn
    = link_to t('cancel', default: t("helpers.links.cancel")), checkins_path, class: 'btn'
