- if @place.errors.any?
  #error_explanation
    = "#{ pluralize(@place.errors.count, "error") } #{ t('.prohibited_this_place_from_being_saved') }:"
    %ul
    - @place.errors.full_messages.each do |msg|
      %li= msg
= simple_form_for @place do |f|
  .field
    = f.input :title,        class: :span6
    = f.input :description,        class: :span6
  .form-actions
    = f.button :submit, t('add_place'), class: 'btn btn-primary'
    = link_to t('cancel', default: t("helpers.links.cancel")), places_path, class: 'btn'
