.row-fluid
  .span4.offset3{ name: "footer" }
    %a{ href: "about" }
      %h3= t('about')
    %a{ href: "about" }
      = t('.sky_dance_is')
    %br
  .span4
    %a{ href: "about" }
      %h3= t('contacts')
    = t('.phone')
    %h3 8 (8422) 70-02-28

= javascript_include_tag "js/jquery"
= javascript_include_tag "js/bootstrap-transition"
= javascript_include_tag "js/bootstrap-alert"
= javascript_include_tag "js/bootstrap-modal"
= javascript_include_tag "js/bootstrap-dropdown"
= javascript_include_tag "js/bootstrap-scrollspy"
= javascript_include_tag "js/bootstrap-tab"
= javascript_include_tag "js/bootstrap-tooltip"
= javascript_include_tag "js/bootstrap-popover"
= javascript_include_tag "js/bootstrap-button"
= javascript_include_tag "js/bootstrap-collapse"
= javascript_include_tag "js/bootstrap-carousel"
= javascript_include_tag "js/bootstrap-typeahead"
