.footer
  .social_buttons
    %a{ href: "http://vk.com/ulmic" }
      = image_tag "social/vk.png", class: :social_button_logo
    %a{ href: "https://www.facebook.com/molcenter" }
      = image_tag "social/facebook.png", class: :social_button_logo
    %a{ href: "https://twitter.com/ulmicru" }
      = image_tag "social/twitter.png", class: :social_button_logo
    %a{ href: "https://plus.google.com/109518417712111969312/" }
      = image_tag "social/gplus.png", class: :social_button_logo
    %a{ href: "http://www.youtube.com/user/ulmic73" }
      = image_tag "social/youtube.png", class: :social_button_logo
    %a{ href: "https://github.com/ulmic" }
      = image_tag "social/github.png", class: :social_button_logo
  .about_us
    .footer_title
      = t('.about')
    .footer_list_links
      .footer_list_links_item
        %a{ href: about_welcome_path }
          = t('.ulmic_is')
  .contacts
    .footer_title
      = t('.contacts')
    .footer_list_links
      .footer_list_links_item
        8 (8422) 96-43-37
= javascript_include_tag "js/jquery"
= javascript_include_tag "js/bootstrap-transition"
= javascript_include_tag "js/bootstrap-alert"
= javascript_include_tag "js/bootstrap-modal"
= javascript_include_tag "js/bootstrap-dropdown"
= javascript_include_tag "js/bootstrap-scrollspy"
= javascript_include_tag "js/bootstrap-tab"
= javascript_include_tag "js/bootstrap-tooltip"
= javascript_include_tag "js/bootstrap-popover"
= javascript_include_tag "js/bootstrap-button"
= javascript_include_tag "js/bootstrap-collapse"
= javascript_include_tag "js/bootstrap-carousel"
= javascript_include_tag "js/bootstrap-typeahead"
