%html
  %head
    %title Этажи Роста
  %body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse
          .navbar-inner
            %button.btn.btn-navbar
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{ href: root_path }
              Этажи Роста МИЦ
            .nav-collapse.collapse
              %ul.nav
                %li
                  %a{ href: events_path }
                    Мероприятия
                %li
                  %a{ href: members_path }
                    Команда МИЦ
                - if member_signed_in?
                  %li
                    %a{ href: member_path(current_member) }
                      Мой профиль
                  %li
                    %a{ "data-method" => "delete", href: session_path,}
                      Выйти
                - else
                  %li
                    %a{ href: new_session_path }
                      Войти
    .jumbotron
      = yield

    = render "layouts/footer"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = stylesheet_link_tag "bootstrap_and_overrides"
