%html
  %head
    %title Этажи Роста
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "bootstrap_and_overrides"
    = favicon_link_tag 'favicon.ico'
  %body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse
          .navbar-inner
            %button.btn.btn-navbar
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{ href: "http://ulmic.ru" }
              .logo-mic
            %a.brand{ href: root_path }
              Этажи Роста МИЦ
            .nav-collapse.collapse
              %ul.nav
                %li
                  %a{ href: events_path }
                    Мероприятия
                %li
                  %a{ href: members_path }
                    Команда МИЦ
                %li.divider-vertical
                - if user_signed_in? and current_user.member
                  %li.pull-right
                    %a{ href: member_path(current_user.member) }
                      Мой профиль
                  %li.pull-right
                    %a{ "data-method" => "delete", href: session_path,}
                      Выйти
                - else
                  %li.pull-right
                    %a{ href: new_user_path }
                      = t('registration')
                  %li.pull-right
                    %a{ href: new_session_path }
                      = t('auth')
    .jumbotron
      .row
        = flash[:notice]
        = yield
        = render "layouts/reformal"
      .row
        %hr
        = render "layouts/footer"
    = javascript_include_tag "application"
    = csrf_meta_tags
