%html
  %head
    %title Этажи Роста
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    = render "layouts/header"
    .main_content
      = flash_messages
      = yield
      = render "layouts/reformal"
    = render "layouts/footer"
    .left_column_content
