= simple_form_for @member, html: { class: 'form-horizontal' } do |f|
  - f.with_options input_html: { class: :span6 } do |f|
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name
    = f.input :number
    = f.input :email
    = f.input :password
    - if @member and @member.photo
      = image_tag @member.photo.thumb, class: 'img-polaroid'
      %br
      %br
      %b
        = t '.choose_new_photo'
      %br
      = f.file_field :photo
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), members_path, class: 'btn'
