= stylesheet_link_tag :members
- if @member.errors.any?
  #error_explanation
    = "#{ pluralize(@member.errors.count, "error") } #{ t('.prohibited_this_member_from_being_saved') }:"
    %ul
    - @member.errors.full_messages.each do |msg|
      %li= msg
= simple_form_for @member do |f|
  - f.with_options input_html: { class: :span6 } do |f|
    .field
      = f.input :first_name,  class: :span6
      = f.input :title,       class: :span6
      = f.input :middle_name, class: :span6
      = f.input :last_name,   class: :span6
      = f.input :post,        class: :span6
      = f.input :number,      class: :span6
      = f.input :email,       class: :span6
      = f.input :password,    class: :span6
      = f.association :parent,     class: :span6, label_method: lambda { |member| "#{member.first_name} #{member.middle_name} #{member.last_name} | #{member.number}" }, value_method: :id
      = f.label :photo,            class: :span6
      - if @member and @member.photo
        = image_tag @member.photo.thumb, class: 'img-polaroid'
        %b
          = t '.choose_new_photo'
        %br
        = f.file_field :photo, class: 'btn'
    .mandatory_attributes
      * -
      = t('mandatory attributes')
  .form-actions
    = f.button :submit, t('save'), class: 'btn btn-primary'
    = link_to t('cancel', default: t("helpers.links.cancel")), members_path, class: 'btn'
