.page-header
  %h1= @member.fio
  %h2= @member.post
.row-fluid
  .span7
    - @member.checkins.each do |checkin|
      = checkin.event.title
      = checkin.status
      = checkin.description
      = checkin.event.event_time
      %hr
    %p
    = link_to t('back'), members_path, class: 'btn'
  .span5
    .row-fluid
      = image_tag @member.photo
    .row-fluid
      %h3= @member.motto
      %h3= @member.number
