= stylesheet_link_tag "members"
.page-header
  %h1= @member.fio
  %h2= @member.post
.row-fluid
  .span8
    %table.table.table-striped.table-hover
      - @member.checkins.each do |checkin|
        %tr{ onclick: "return location.href = '#{event_path(checkin.event)}'" }
          %td
            =link_to checkin.event.title, event_path(checkin.event)
          %td
            = checkin.decorate.status_locale
          %td
            = checkin.description
          %td
            = checkin.event.decorate.date
          - if current_user_on_page?(@member) or admin_signed_in?
            %td
              = link_to t('edit', default: t("helpers.links.edit")), edit_checkin_path(checkin), class: 'btn'
              = link_to t('destroy', default: t("helpers.links.destroy")), checkin_path(checkin), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: t('are_you_sure'))) }, class: 'btn btn-danger'
    %p
    = link_to t('back'), members_path, class: 'btn'
  .span3
    - if @member.parent
      .row-fluid
        %small
          = t('parent')
      .row-fluid.member-link{ onclick: "return location.href = '#{member_path(@member.parent)}'" }
        .span3
          = image_tag @member.parent.decorate.present_photo_thumb, class: 'img-rounded parrent'
        .span3
          %h4
            = @member.parent.decorate.fio
      %br
    .row-fluid
      .span12
        = image_tag @member.present_photo
    %br
    .row-fluid
      - @member.children.each do |child|
        .span3{ onclick: "return location.href = '#{member_path(child)}'" }
          = image_tag child.decorate.present_photo_thumb, class: 'img-rounded'
    .row-fluid
      %h3= @member.motto
      %h3= @member.id
    .row-fluid
      - if current_user_on_page?(@member.user) or admin_signed_in?
        %a.btn{ href: edit_member_path(@member) }
          = t('edit')
          = t('profile')
      %br
      - if admin_signed_in?
        - if @member.user.admin
          = link_to t('destroy_an_admin', default: t("helpers.links.destroy")), admin_path(@member.user.admin), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'
        - else
          %a.btn{ href: new_admin_path(@member) }
            = t('make_an_admin')
